.active-color {
    color: #ffc520 !important;
}

table, th, td {
    border: 1px solid white !important;
}

.right-stacking {
    float: right;
}

.left-stacking {
    float: left;
}

.left-part {
    float: right;
}

.right-part {
    margin-right: 100px !important;
    width: 400px;
    float: right;
}

#graph-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}